@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>About the site just a simple site with .Net backend in which you can make a file or edit or delete one and you can also download it</p>
